buildinfo
.gitignore
ChangeLog
Config
Control
Control.bin86
config
control
docs
examples
linux-image-*
pkg
ruleset
scripts
templates.in
bin/patch.apply
bin/patch.unpatch

build
stamps
files
linux-*
control
control.md5sum
rules.gen
*.pyc

